<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
    
    <mvc:resources mapping="/static/**" location="/WEB-INF/static/"/>
    
    <mvc:annotation-driven />    
    <mvc:resources mapping="/static/img/**" location="/WEB-INF/static/img/"/>
    <!-- 搜索spring控件 -->
    <context:component-scan base-package="org.cas.ie.bigdata.olap_ui"></context:component-scan>
    <!-- 视图页面配置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>  
    </bean>
    
    <!-- 配置数据源 -->
	<bean class="org.cas.ie.bigdata.olap_ui.sql.common.DBUtils">
	<!-- mysql配置 
	    <property name="driver" value="com.mysql.jdbc.Driver" />
	    <property name="dbconnect" value="jdbc:mysql://127.0.0.1:3306" />
	    <property name="username" value="root" />
	    <property name="password" value="root" />
	    <property name="database" value="mysql" />-->
	     
	<!-- postgre配置 -->
	    <property name="driver" value="org.postgresql.Driver" />
	    <property name="dbconnect" value="jdbc:postgresql://192.168.2.58:5432" />
	    <property name="username" value="postgres" />
	    <property name="password" value="postgres" />
	    <property name="database" value="postgres" /> 
	</bean>
	
	<bean class="org.cas.ie.bigdata.olap_ui.sql.common.ShellUtils">
		<!-- 配置集群节点信息，格式：hostname1#ip1,hostname2#ip2 -->
	    <property name="host" value="node0#192.169.2.10,node1#192.168.2.11,node2#192.168.2.12,node3#192.168.2.13" />
	    <!-- 配置ping命令参数 -->
		<!-- window 
		<property name="cmdParam" value="-n 1 -w 100"></property>-->
		<!-- Linux -->
		<property name="cmdParam" value="-c 1 -W 1"></property>
		 
	</bean>
	
	<!-- 查询语句配置 -->
	<bean class="org.cas.ie.bigdata.olap_ui.sql.common.QueryUtils">
	<!-- mysql 
		<property name="showDatabaseSql" value="show databases;" ></property>
	    <property name="showTablesSql" value="show tables;"></property>
	    <property name="describeTableSqlHead" value="describe "></property>
 		<property name="describeTableSqlEnd" value=";"></property>-->
 		
 		
	<!-- postgreSql -->
	    <property name="showDatabaseSql" value="select datname from pg_database;" />
	    <property name="showTablesSql" value="select tablename from pg_tables 
	    where tablename not like 'pg%'
	    and tablename not like 'sql_%'
	    order by tablename;"></property>
	    <property name="describeTableSqlHead" value="SELECT a.attnum,
       a.attname AS field,
       t.typname AS type,
       a.attlen AS length,
       a.atttypmod AS lengthvar,
       a.attnotnull AS notnull,
       b.description AS comment
  FROM pg_class c,
       pg_attribute a
       LEFT OUTER JOIN pg_description b ON a.attrelid=b.objoid AND a.attnum = b.objsubid,
       pg_type t
 WHERE c.relname = '"></property>
 		<property name="describeTableSqlEnd" value="'
       and a.attnum > 0
       and a.attrelid = c.oid
       and a.atttypid = t.oid
 ORDER BY a.attnum;"></property>
	</bean>
	
</beans>