{% extends "base.html" %}

{% block title %}Agents{% endblock %}

{% block content %}

<p class="title">状态统计</p>
<table class="table-theme-a" data-id="agents-status-statistic">
	<tbody>
		<tr>
			<td>Busy</td>
			<td data-tag="BUSY"></td>
		</tr>
		<tr>
			<td>Free</td>
			<td data-tag="FREE"></td>
		</tr>
		<tr>
			<td>Lost</td>
			<td data-tag="LOST"></td>
		</tr>
	</tbody>
</table>
<p class="title">代理统计</p>
<table data-id="agents-table"></table>
{% endblock %}

{% block control %}
<script src="/static/js/agent.js"></script>
{% endblock %}