{% extends "base.html" %}

{% block title %}Tools{% endblock %}

{% block content %}
<p class="title">工具查看</p>
<div data-id="tools-table-toolbar">
	<button class="btn-add" data-id="tools-add">添加工具</button>
</div>
<table data-id="tools-table"></table>

<div id="addToolDLG" class="container-fluid dialog">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-2 control-label">工具</label>
			<div class="col-sm-10">
				<input required="required" type="text" name="operation" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">版本</label>
			<div class="col-sm-10">
				<input type="text" name="version" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Tar 文件</label>
			<div class="col-sm-10">
				<input type="file" name="tar" class="form-control">
			</div>
		</div>
		<div class="form-group dialog-bottom">
			<div class="col-sm-12 text-center">
				<button type="submit" class="btn btn-primary" data-id="dialog-confirm">添加</button>
				<button type="button" class="btn btn-default" data-id="dialog-close">取消</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block control %}
<script src="/static/js/tool.js"></script>
{% endblock %}